.header-row {
    font-size: 0.8em;
    font-weight: bold;
    color: #afafaf;
}


#contact-link {
    color: #afafaf;
    text-decoration: none;
}


#contact-link:hover {
    text-decoration: underline;
}


.pages {
    font-size: 0.8em;
    font-weight: bold;
    color: #2f2f2f;
}

.pages:hover {
    color: #2f2f2f;
}

#toggle-button {
    width: 40px;
    height: 40px;
}

.slide-icon {
    width: 40px;
    height: 40px;
}


.main-img-card {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

#about-me-header {
    color: #2f2f2f;
    font-size: 1.8em;
}

.about-me-text {
    font-size: 0.9em;
}


.sidebar-post-name {
    color: #2f2f2f;
}

.sidebar-post-name:hover {
    color: #2f2f2f;
    text-decoration: underline;
}


#footer-infor{
    display: none;
}

@media (min-width: 768px) {
    #footer-infor {
        display: block;
    }
}


#my-card-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}


#name-title {
    font-size: 1.5rem;
}


#role-title {
    font-size: 0.8rem; 
}

#hust-target {
    color: #189bf2;
}

#hust-target:hover {
    color: #189bf2;
    text-decoration: none;
}


#brand {
    width: 5rem;
    height: 5rem;
}

#post-title {
    font-size: 2rem;
}


.post-img {
    height: 25vw;
    object-fit: cover;
}


.read-link:hover {
    text-decoration: underline; 
    color: #5f5f5f;
}
